[include]
	path = ~/.git-company.conf
[includeIf "gitdir:~/Documents/personal/"]
	path = ~/Documents/personal/.git-persional.conf

[core]
	excludesfile = /Users/balazsfodorpap/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/balazsfodorpap/.stCommitMsg
